/* App.css */
.signup-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal {
  max-width: fit-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-field {
  margin-bottom: 10px;
  display: block;
  border-radius: 20px;
  padding: 10px 20px;
}

.button {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
}

.button:hover {
  background-color: blue;  
}

.logp {
  text-align: center;
}

.containergoogle {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.logpa {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}